<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Hospital Blanes - Registre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hospital Blanes RIPA</h1>
        <h2>Crear nou compte</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form action="/registro" method="POST">
            <div class="form-group">
                <label>DNI</label>
                <input type="text" name="dni" class="input-field" placeholder="12345678Z" required>
            </div>
            <div class="form-group">
                <label>Nom Complet</label>
                <input type="text" name="nom" class="input-field" placeholder="Pau..." required>
            </div>
            <div class="form-group">
                <label>Contrasenya</label>
                <input type="password" name="password" class="input-field" placeholder="********" required>
            </div>
            <div class="form-group">
                <label>Rol sol·licitat</label>
                <select name="rol" class="input-field" required>
                    <option value="Metge">Metge</option>
                    <option value="Infermer">Infermer</option>
                    <option value="Personal Vari">Personal Vari</option>
                </select>
            </div>
            <button type="submit" class="btn">Enviar Sol·licitud</button>
        </form>
        <p class="footer-text">Ja tens compte? <a href="{{ url_for('login') }}">Inicia sessió</a></p>
    </div>
</body>
</html>